main {
    font-family: Arial;
    font-size: 10pt;
    height: 120vh;
    max-width: 1080px;
    margin: auto;
    display: grid;
    /*border: solid red;*/
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 7fr 1fr 4fr 1fr;
    grid-template-areas:
    "aside banner"
    "aside mail"
    "aside carts"
    "footer footer"
}
aside {
    grid-area: aside;
    padding-right: 30px;
    /*border: solid green;*/
    display: grid;
    grid-template-rows: 1fr repeat(5, 1fr) 6fr;
    justify-content: stretch;
    width: 140px;
}
a {
    color: rgb(54, 166, 162);
    text-decoration: none;
}
footer {
    grid-area: footer;
    display: flex;
    border-top: solid rgb(224, 224, 224) 2px;
    margin-top: 25px;
    color: rgb(231, 231, 231);
    font-size: 8pt;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.content {
    display: block;
    grid-area: content;
    /*border: solid hotpink;*/
    position: relative;
}
.mail {
    grid-area: mail;
    /*border: solid yellow;*/
    min-height: 51px;
    display: flex;
    align-items: center;
}
.carts {
    grid-area: carts;
    /*border: solid saddlebrown;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 23px;
}

.logo {
    /*border: solid black;*/
    display: block;
    text-align: center;
}
.logo>img {
    height: 120px;
    width: 120px;
}

.link>a>img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 10px;
}
.tweet{
    /*border: solid deepskyblue;*/
    display: block;
}
.tweetReplica {
    border-bottom: dashed rgb(192, 192, 192) 1px;
    padding-bottom: 3px;
    font-size: 9pt;
}
.tweetButton {
    padding-top: 10px;
    padding-bottom: 5px;
}
#tweetAD {
    font-size: 7pt;
    font-style: italic;
    line-height: 16pt;
    padding-top: 10px;
}

.banner {
    position: relative;
    grid-area: banner;
    display: block;
}
.banner>img {
    width: 100%;
    height: 100%;
}
.tabs {
    display: grid;
    position: absolute;
    /*border: solid black;*/
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 85px;
    bottom: 0;
}
.tabItem {
    /*border: solid purple;*/
    background-color: rgb(226, 255, 253);
}
.bigTextBlock {
    display: block;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 16pt;
    color: rgb(54, 166, 162);
}
.littleTextBlock {
    color: rgb(54, 166, 162);
    padding-right: 10px;
    padding-left: 10px;
    font-size: 8pt;
}
#bannerLogoHead {
    position: absolute;
    /*border: solid black;*/
    width: 270px;
    height: 50px;
    bottom: 200px;
    background-color: white;
    line-height: 50px;
    padding-left: 30px;
    font-size: 18pt;
    font-style: italic;
}
#bannerLogoSub {
    position: absolute;
    /*border: solid greenyellow;*/
    width: 490px;
    height: 40px;
    bottom: 160px;
    background-color: black;
    line-height: 40px;
    padding-left: 30px;
    font-size: 11pt;
    font-style: italic;
    color: white;
}

input[type="text"] {
    border: solid rgb(231, 231, 231) 1px;
    line-height: 16pt;
}
input[type="submit"] {
    border: solid rgb(231, 231, 231) 1px;
    line-height: 16pt;
    padding: 0 20px 0 20px;
    font-size: 8pt;
    background: rgb(222,222,222);
    background: linear-gradient(0deg, rgba(222,222,222,1) 0%, rgba(241,241,241,1) 50%);
}
#mailIcon>img {
    width: 32px;
    height: 26px;
}
.mailContainer {
    height: 51px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 10pt;
    font-style: italic;
    border-top: dashed rgb(192, 192, 192) 1px;
    border-bottom: dashed rgb(192, 192, 192)  1px;
    display: grid;
    grid-template-columns: 1fr 10fr 300px;
    column-gap: 10px;
}
#subscribeField {
    /*border: solid red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#subscribeText {
    /*border: solid blue;*/
    display: flex;
    align-items: center;
}
#mailIcon {
    /*border: solid green;*/
    display: flex;
    align-items: center;
}

.cartImg{
    border: solid white 11px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}
.cartImg>img {
    width: 100%;
    height: 100%;
}
.cartHeader {
    display: block;
    padding-top: 11px;
    font-size: 12pt;
    color: rgb(54, 166, 162);
}
.cartText {
    display: block;
    padding-top: 11px;
    line-height: 20px;
}
.cartDate {
    display: block;
    padding-top: 11px;
    color: rgb(192, 192, 192);
}

#footerLogo {
    /*border: solid greenyellow;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 110px;
}
#tweetImg {
    height: 26px;
    width: 30px;
}
#fbImg {
    height: 32px;
    width: 16px;
}
#rssImg {
    height: 32px;
    width: 32px;
}