@media screen and (max-width: 992px){
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 8fr 2fr 7fr 1fr;
        grid-template-areas:
        "aside"
        "banner"
        "mail"
        "carts"
        "footer"
    }
    aside {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
    }
    .link>a {
        display: block;
        max-width: 70px;
        text-align: center;
        line-height: 30px;
        height: 30px;
    }
    .tweet {
        display: none;
    }
}