@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

.Autorization {
    height: 330px;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: solid 5px #27569C;
    border-radius: 4px;
    padding: 16px 16px 16px 16px;
    box-sizing: border-box;
    box-shadow: 0px 6px 4px -1px rgba(81, 81, 81, 0.23);

    font-family: Inter;
    font-size: 24px;
    font-weight: 800;
}

.Autorization-text {
    display: block;
    height: 99px;
    width: 100%;
    color: #27569C;
    text-align: center;
    line-height: 79px;
}

.Autorization-inputFields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    width: 100%;
}

.Autorization-input {
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: space-between;
}

.Autorization-user {
    line-height: 43px;
}

.Autorization-field {
    width: 283px;
    height: 35px;
    border: solid 4px rgb(39, 86, 156);
    border-radius: 10px;
    background-color: #D9D9D9;
}

.Autorization-hideInput {
    display: none;
}

@media (max-width: 500px) {
    .Autorization {
        height: 301px;
        width: 290px;
        align-items: center;
        padding: 21px 28px 21px 19px;
    }

    .Autorization-text {
        line-height: 33px;
    }

    .Autorization-input {
        flex-direction: column;
        padding: 4px 0 0 11px;
        row-gap: 10px;
    }

    .Autorization-inputFields {
        height: 190px;
        row-gap: 10px;
    }

    .Autorization-field {
        width: 200px;
        height: 28px;
    }
}