.listPage {
    margin-left: 50px;
    margin-top: 50px;
}
.list {
    display: flex;
    flex-direction: column;
    width: 1000px;
    justify-content: space-between;
}
.newPostButton {
    display: block;
    height: 30px;
    width: 900px;
    background-color: darkorange;
    outline: solid #8be1ff 2px;
    font-family: Arial;
    text-align: center;
    line-height: 30px;
}