.commentName {
    display: flex;
    justify-content: space-between;
    border-bottom: solid red 2px;
    width: 606px;
    padding-left: 10px;
    font-size: 10pt;
}
.commentBody {
    width: 606px;
    padding-left: 10px;

}