.newPost {
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
}

.createPostButton {
    height: 30px;
    width: 406px;
    text-align: center;
    line-height: 30px;
    background-color: #ee5858;
    font-family: Arial;
}

.createPostButton:hover {
    cursor: pointer;
}

.typeText {
    display: block;
}

.titleInput {
    display: block;
    height: 30px;
    width: 400px;
}

.bodyInput {
    display: block;
    height: 400px;
    width: 400px;
}
.successPublished {
    height: 30px;
    width: 400px;
    background-color: #ffc400;
    font-family: Arial;
    text-align: center;
    line-height: 30px;
}