body {
    margin: 0;
}
a {
    color: white;
    text-decoration: none;
}
.header {
    display: flex;
    width: 100vw;
    height: 60px;
    background-color: #202329ff;
    color: white;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}
.pageBody {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(5, 350px);
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 1440px;
    background-color: white;
    padding-top: 10px;
}
.cart {
    display: block;
    width: 200px;
    height: 350px;
    background-color: #202329ff;
    color: white;
}
.cart:hover {
    background: linear-gradient(180deg, #252a33ff 98%, #8be1ff 2%);
}
.cart img {
    width: 200px;
    height: 300px;
}
.annotation {
    display: block;
    text-align: center;
    width: 200px;
    height: 30px;
    font-size: 10pt;
    line-height: 12pt;
    font-family: Arial;
}

.logo {
    margin-left: 400px;
    font-family: Arial;
    font-size: 18pt;
    cursor: pointer;
}
.logo:hover{
    color: #8be1ff;
}

.searchInput {
    background-color: white;
    height: 38px;
    width: 280px;
    border: 0;
    border-radius: 4px;
    font-family: Arial;
    font-size: 12pt;
    outline: none;
    margin-right: 400px;
}
.genreLine {
    display: flex;
    height: 26px;
    width: 100vw;
    justify-content: center;
    gap: 6px;
}
.genreButton {
    height: 20px;
    background-color: #252a33ff;
    text-align: center;
    padding: 3px;
    white-space: nowrap;
    color: white;
    font-family: Arial;
    cursor: pointer;
    border-radius: 0 0 4px 4px;
}
.genreButton:hover {
    background: linear-gradient(180deg, #252a33ff 90%, #8be1ff 10%);
}
.pageArrows {
    width: 75px;
    height: 30px;
    display: flex;
}
.prevButton {
    font-size: 24pt;
    color: white;
    line-height: 24pt;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.nextButton {
    font-size: 24pt;
    color: white;
    line-height: 24pt;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/*detailsPage*/

.detailsPage {
    background: linear-gradient(180deg, white 99%, #8be1ff 1%);
    width: 100vw;
    height: 400px;
    display: flex;
}

.detailsPoster img {
    width: 200px;
    height: 300px;
    padding-top: 40px;
    padding-left: 50px;
}

.annotationRow {
    font-family: Arial;
    height: 25px;
    line-height: 25px;
    width: 500px;
    display: flex;
}
.annotationDetails {
    width: 350px;
    padding-top: 80px;
    padding-left: 80px;
}
.annotationParameter {
    width: 150px;
    padding-right: 8px;
}
.detailsOverview {
    max-width: 600px;
    min-width: 350px;
    padding-top: 80px;
    padding-left: 120px;
}

.searchButton {
    width: 50px;
    height: 50px;
    background-color: #ffc400;
}