@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Source+Sans+Pro:wght@600&display=swap');

.loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./bg-02.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.loginPage::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to left, #b931d8, #00aeff);
    opacity: 0.5;
    z-index: 1;
}

.loginFrame {
    min-width: 300px;
    width: 40vw;
    max-width: 435px;
    min-height: 390px;
    height: 60vh;
    max-height: 580px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginContent {
    display: flex;
    flex-direction: column;
    min-height: 250px;
    height: 60%;
    row-gap: 10%;
    align-items: center;
}

.loginActions {
    display: flex;
    flex-direction: column;
    height: 40%;
    min-height: 100px;
    justify-content: center;
}

.sinbgUpBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}
