.postLine {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, white 90%, #8be1ff 10%);
    height: 30px;
    width: 900px;
    line-height: 30px;
    font-size: 14pt;
    font-family: Arial;
}
.trashBt {
    height: 10px;
    width: 20px;
    background-color: #ee5858;
}
a {
    text-decoration: none;
    color: black;
}