main {
    font-family: Arial;
    font-size: 10pt;
    height: 120vh;
    max-width: 1080px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 7fr 1fr 4fr 1fr;
    grid-template-areas:
    "aside banner"
    "aside mail"
    "aside carts"
    "footer footer"
}

aside {
    grid-area: aside;
    padding-right: 30px;
    display: grid;
    grid-template-rows: 1fr repeat(5, 1fr) 6fr;
    justify-content: stretch;
    width: 140px;
}

a {
    color: cadetblue;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    text-shadow: 0 0 10px Cyan;
}

footer {
    grid-area: footer;
    display: flex;
    border-top: lightgray 2px;
    margin-top: 25px;
    color: lightgray;
    font-size: 8pt;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.content {
    display: block;
    grid-area: content;
    position: relative;
}

.mail {
    grid-area: mail;
    min-height: 51px;
    display: flex;
    align-items: center;
}

.carts {
    grid-area: carts;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 23px;
}

.logo {
    display: block;
    text-align: center;
}

.logo > img {
    height: 120px;
    width: 120px;
}

.link > a > img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 10px;
}

.tweet {
    display: block;
}

.tweetReplica {
    border-bottom: dashed lightgray 1px;
    padding-bottom: 3px;
    font-size: 9pt;
}

.tweetButton {
    padding-top: 10px;
    padding-bottom: 5px;
}

#tweetAD {
    font-size: 7pt;
    font-style: italic;
    line-height: 16pt;
    padding-top: 10px;
}

.banner {
    position: relative;
    grid-area: banner;
    display: block;
}

.container {
    width: 100%;
    height: 100%;
}
.slider {
    width: 1000px;
    height: 600px;
    overflow: hidden;
}
.slider-line {
    width: 5000px;
    height: 600px;
    display: flex;
    position: relative;
    left: 0;
}

.tabs {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 85px;
    bottom: 0;
}

.tabItem {
    background-color: LightCyan;
    cursor: pointer;
}

.bigTextBlock {
    display: block;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 16pt;
    color: cadetblue;
}

.littleTextBlock {
    color: cadetblue;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 8pt;
}

#nextBtn, #prevBtn {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 50%;
    right: 0;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.2) 100%);
    cursor: pointer;
}
#prevBtn {
    left: 0;
    transform: rotate(180deg);
}
#nextBtn:hover, #prevBtn:hover {
    background: radial-gradient(circle, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.5) 100%);
}
#nextBtn > img, #prevBtn > img {
    width: 100%;
    height: 100%;
}

input[type="text"] {
    border: solid lightgray 1px;
    line-height: 16pt;
}

input[type="submit"] {
    border: solid lightgray 1px;
    line-height: 16pt;
    padding: 0 20px 0 20px;
    font-size: 8pt;
    background: lightgray;
    background: linear-gradient(0deg, rgba(222, 222, 222, 1) 0%, rgba(241, 241, 241, 1) 50%);
}

#mailIcon > img {
    width: 32px;
    height: 26px;
}

.mailContainer {
    height: 51px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 10pt;
    font-style: italic;
    border-top: dashed lightgray 1px;
    border-bottom: dashed lightgray 1px;
    display: grid;
    grid-template-columns: 1fr 10fr 300px;
    column-gap: 10px;
}

#subscribeField {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#subscribeText {
    display: flex;
    align-items: center;
}

#mailIcon {
    display: flex;
    align-items: center;
}

.cartImg {
    border: solid white 11px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

.cartImg > img {
    width: 100%;
    height: 100%;
}

.cartHeader {
    font-size: 12pt;
    line-height: 28pt;
    color: lightseagreen;
}

.cartText {
    line-height: 20px;
}

.cartDate {
    padding-top: 11px;
    color: lightgray;
}

#footerLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 110px;
}

#tweetImg {
    height: 26px;
    width: 30px;
}

#fbImg {
    height: 32px;
    width: 16px;
}

#rssImg {
    height: 32px;
    width: 32px;
}

.footerLink::after {
    content: ' |';
    color: lightgray;
}