@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.App-header {
  display: flex;
  background-color: #E4B062;
  height: 118px;
  min-height: 118px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.Logo {
  margin-left: 41px;
  background-image: url('./images/logo.png');
  width: 273px;
  height: 63px;
}

.Content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

@media (max-width: 700px) {
  .Logo {
    width: 63px;
    margin-left: 16px;
  }
}